# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vtoragodinavtorisemestur\OOP1Proekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
